# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio IDE files
.idea/
*.iml
.DS_Store
/captures/
.cxx/

# Keystore files
*.jks
*.keystore

# Build artifacts
*.apk
*.aab
*.ap_
*.apks
*.dex

# Log files
*.log
